# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.24.5'

    - name: Create a directory for the binaries
      run: mkdir -p bin

    - name: Build the client
      run: go build -v -o bin/client ./cmd/client

    - name: Build the server
      run: go build -v -o bin/server ./cmd/server

    - name: Verify the binaries
      run: |
        if [ -f ./bin/client ]; then
          echo "Client binary built successfully"
        else
          echo "Client binary not found"
          exit 1
        fi

        if [ -f ./bin/server ]; then
          echo "Server binary built successfully"
        else
          echo "Server binary not found"
          exit 1
        fi

    - name: Make the test scripts executable
      # run: chmod +x test.sh test_large_directory.sh test_directory_limit.sh
      run: chmod +x test.sh test_large_directory.sh

    - name: Run the basic integration tests
      run: ./test.sh

    - name: Run the large directory tests
      run: ./test_large_directory.sh

    # Skipping this test for now as it would cause the workflow to fail (as the disk space would be saturated).
    # - name: Run the directory limit tests
    #   run: ./test_directory_limit.sh
